{% extends 'tracker/base.html' %}

{% block section_content %}
<div class="row">
    <div class="col-md-6">
        <h2>Ongoing</h2>
        {% include 'tracker/event_table.html' with event_list=ongoing_events %}
    </div>
    <div class="col-md-6">
        <h2>Waiting</h2>
        {% include 'tracker/event_table.html' with event_list=waiting_events %}
    </div>
</div>
{% if pending_entries %}
<h2>Open</h2>
{% include 'tracker/entry_table.html' with entry_list=pending_entries detailed=True %}
{% endif %}
{% endblock section_content %}
