.table-condensed td {
    max-width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.counter, .duration {
    width: 5em;
    text-align: right;
    font-family: monospace;
}
.rating {
    width: 6em;
    text-align: center;
}
.update {
    width: 2.5em;
    text-align: center;
}
.datetime {
    width: 10em;
    font-family: monospace;
}
.title-icon {
    float: right;
    font-size: 1.5em;
    margin-top: -2em;
}
td ul {
    margin: 0;
    padding: 0 0 0 .5em;
}
.nv-x .tick line {
    display: none;
}
div svg {
    height: 8em;
    margin-bottom: 2em;
}
