.table-condensed td {
    max-width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.counter, .duration, .rating {
    width: 5em;
}
.datetime {
    width: 10em;
}
.title-icon {
    float: right;
    font-size: 1.5em;
    margin-top: -2em;
}
th.update {
    width: 1em;
}
td ul {
    margin: 0;
    padding: 0 0 0 .5em;
}
.nv-x .tick line {
    display: none;
}
div svg {
    height: 8em;
}
